* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 22px; }

p {
  font-size: 14px; }

img {
  max-width: 100%; }

.button {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #1acbcf;
  border: 2px solid #1acbcf;
  padding: 10px 5px;
  background: transparent; }

.button:hover {
  border: 2px solid #b8dc58;
  color: #b8dc58; }

/* Header block ---------------------------------------------------------------- */
.header {
  position: relative;
  background-image: url("../img/background1.png");
  background-size: cover; }

.header:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #120d33;
  opacity: .8; }

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px; }

.relative {
  position: relative; }

.headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px; }
  .headerBlock__logo {
    display: flex;
    align-items: center; }
  .headerBlock__logoImg {
    max-width: 50px; }
  .headerBlock__logoText {
    font-size: 30px;
    padding: 15px;
    color: #1acbcf; }

.headerMenu__item {
  display: inline-block;
  list-style: none;
  padding: 15px 13px; }

.headerMenu__item a {
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-decoration: none; }

.burgerMenu {
  display: none; }

@media screen and (max-width: 830px) {
  .headerMenu ul {
    display: none; }
  .burgerMenu {
    font-size: 40px;
    display: block;
    color: #1acbcf; }
  .headerMenu:hover ul {
    display: block;
    position: absolute;
    right: 0;
    border: 1px solid #1acbcf;
    background: rgba(18, 13, 51, 0.95); }
  .headerMenu__item {
    display: block;
    border: 1px solid #1acbcf; } }

.headerContent {
  margin: 165px auto 0 auto;
  max-width: 775px;
  text-align: center;
  padding-bottom: 70px; }
  .headerContent__headline h1 {
    margin-bottom: 22px;
    color: white; }
  .headerContent__separator {
    margin: 0 auto;
    width: 50px;
    border-bottom: 2px solid #1acbcf; }
  .headerContent__text {
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px; }
  .headerContent__dotnav {
    padding-top: 125px; }
  .headerContent__dotnav div {
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    background: none;
    margin: 3px; }
  .headerContent .headerContent__dotnav--active {
    background: #00e0d0;
    border: 1px solid #00e0d0; }

/* End Header block ------------------------------------------------------------- */
.about {
  margin-top: 70px;
  display: flex; }
  .about__logo {
    flex: 5 1 0; }
  .about__logo img {
    padding-left: 60px;
    padding-right: 30px; }
  .about__text {
    flex: 7 1 0;
    font-size: 14px; }
  .about__text p {
    margin-top: 25px; }
  .about__text p:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 30px; }
  @media screen and (max-width: 830px) {
    .about {
      display: block; }
      .about__logo img {
        display: block;
        padding: 0;
        margin: 0 auto 30px; }
      .about__text {
        text-align: center; } }

.video {
  margin-top: 70px;
  position: relative;
  background-image: url("../img/background_video.png");
  background-size: cover; }

.video:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #120d33;
  opacity: .8; }

.videoButton {
  padding-top: 200px;
  position: relative; }
  .videoButton__circle {
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 auto; }
  .videoButton__circle img {
    display: block;
    max-width: 37px;
    margin: 23px 24px 0 32px; }
  .videoButton__text {
    text-align: center;
    color: white;
    margin-top: 35px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 200px; }

.expertise {
  padding-top: 70px;
  text-align: center;
  margin-bottom: 100px; }

.expertiseTitle p {
  margin-top: 15px;
  font-size: 14px; }

.expertiseTitle div {
  width: 50px;
  border-bottom: 2px solid #4a4a4a;
  margin: 18px auto 50px auto; }

.expertiseContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: inset 0 0 0 3px white; }
  .expertiseContent__item {
    flex: 1 1 33.3%;
    border: 1px solid rgba(192, 192, 192, 0.75);
    padding-right: 30px;
    padding-left: 30px;
    z-index: -1; }
  .expertiseContent__item img {
    margin-top: 40px;
    max-height: 50px; }
  .expertiseContent__item h3 {
    padding-top: 35px;
    font-size: 14px;
    font-weight: bold; }
  .expertiseContent__item p {
    padding-top: 25px;
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 40px; }
  @media screen and (max-width: 450px) {
    .expertiseContent__item {
      flex: 1 1 90%; } }

.team {
  position: relative;
  background-image: url("../img/background_team.png");
  background-size: cover; }

.team:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #120d33;
  opacity: .8; }

.teamTitle {
  padding-top: 70px;
  color: white;
  text-align: center; }
  .teamTitle__separator {
    margin: 0 auto 40px auto;
    width: 50px;
    border-bottom: 2px solid #b1b1b1; }
  .teamTitle p {
    margin-top: 15px;
    margin-bottom: 15px; }

.teamContent {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .teamContent__item {
    flex: 1 1 0;
    color: white;
    text-align: center;
    border: 1px solid #b1b1b1;
    margin-right: 10px;
    margin-left: 10px; }
  .teamContent__item p:nth-child(2) {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px; }
  .teamContent__item p {
    margin-bottom: 25px; }
  @media screen and (max-width: 550px) {
    .teamContent__item {
      flex: 1 1 40%; } }
  @media screen and (max-width: 400px) {
    .teamContent__item {
      flex: 1 1 90%; } }

.teamButton {
  margin-top: 70px;
  text-align: center;
  color: white;
  padding-bottom: 70px; }
  .teamButton p {
    margin-bottom: 25px; }

.works {
  padding-top: 70px;
  margin-bottom: 70px; }

.worksTitle {
  margin: 0 auto 70px;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.worksContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; }
  .worksContent__item {
    flex: 1 1 15%; }
    @media screen and (max-width: 1200px) {
      .worksContent__item {
        flex: 1 1 30%; } }
    @media screen and (max-width: 550px) {
      .worksContent__item {
        flex: 1 1 47%; } }

.worksButton {
  margin-top: 70px;
  text-align: center; }

.testimonials {
  position: relative;
  background-image: url("../img/background_testimonials.png");
  background-size: cover;
  color: white;
  text-align: center; }

.testimonials:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #120d33;
  opacity: .8; }

.testimonialsWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 70px 10px; }

.quotes {
  font-size: 100px; }

.content {
  margin-top: -35px;
  margin-bottom: 50px; }

.author {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px; }
  .author p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: normal; }

.slider {
  display: flex;
  align-items: center;
  justify-content: center; }
  .slider__item {
    padding-right: 7px;
    padding-left: 7px; }
  .slider__item img {
    border: 0 solid red;
    border-radius: 50%; }

.contact {
  display: flex;
  margin-bottom: 70px;
  margin-top: 70px; }
  @media screen and (max-width: 800px) {
    .contact {
      display: block; } }

.contactForm {
  font-size: 14px;
  padding-right: 10px;
  max-width: 50%; }
  @media screen and (max-width: 800px) {
    .contactForm {
      padding-right: 0;
      max-width: 80%;
      margin: 0 auto 40px;
      text-align: center; } }
  .contactForm input {
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 25px; }
  .contactForm textarea {
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 20px; }
  .contactForm h2 {
    margin-bottom: 35px; }

.contactClient {
  margin-left: 80px; }
  .contactClient h2 {
    font-weight: normal;
    padding-left: 20px; }
  @media screen and (max-width: 800px) {
    .contactClient {
      text-align: center;
      margin: 0 auto; }
      .contactClient h2 {
        padding-left: 0; } }

.contactClientLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }
  .contactClientLogos__item {
    flex: 1 1 100%;
    padding: 0 20px; }
  .contactClientLogos__item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px; }

.footer {
  position: relative;
  background-image: url("../img/background_footer.png");
  background-size: cover;
  color: white; }

.footer:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #120d33;
  opacity: .8; }

.footerContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 70px; }
  .footerContent__item {
    flex: 1 1 28%; }
    @media screen and (max-width: 450px) {
      .footerContent__item {
        flex: 1 1 90%;
        text-align: center; } }
  .footerContent__left {
    margin-right: 10px; }
    .footerContent__left p {
      padding-top: 20px;
      line-height: 1.7;
      font-weight: bold; }
  .footerContent__center {
    margin-right: 10px;
    margin-left: 10px; }
    .footerContent__center p {
      line-height: 1.7;
      padding-bottom: 20px; }
    .footerContent__center .footerPhone {
      display: flex; }
      .footerContent__center .footerPhone img {
        max-height: 21px;
        padding-right: 15px; }
    .footerContent__center .footerCentertTitle {
      padding-top: 26px;
      padding-bottom: 40px;
      font-size: 15px; }
  .footerContent__right {
    margin-left: 10px; }
    @media screen and (max-width: 580px) {
      .footerContent__right {
        margin: 0 auto;
        text-align: center; } }
    .footerContent__right .footerRightTitle {
      padding-top: 26px;
      padding-bottom: 40px;
      font-size: 15px;
      font-weight: bold; }
      @media screen and (max-width: 580px) {
        .footerContent__right .footerRightTitle {
          padding-top: 15px;
          padding-bottom: 25px; } }
  .footerContent input {
    padding: 15px;
    width: 65%;
    margin-right: 5px; }
    @media screen and (max-width: 580px) {
      .footerContent input {
        max-width: 80%; } }
  .footerContent button {
    position: relative;
    top: 6px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    padding: 10px 22px;
    background: rgba(188, 180, 210, 0.66); }
  .footerContent button:hover {
    background: rgba(233, 224, 255, 0.71); }
  .footerContent .footerIcons {
    padding-top: 25px;
    display: flex; }
    @media screen and (max-width: 580px) {
      .footerContent .footerIcons {
        justify-content: center; } }
    .footerContent .footerIcons div {
      border: 1px solid white;
      border-radius: 50%;
      height: 40px;
      width: 40px; }
    .footerContent .footerIcons img {
      display: block;
      margin: 12px auto; }

.footerCopyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 60px; }
  @media screen and (max-width: 580px) {
    .footerCopyright {
      justify-content: center;
      padding-top: 45px; } }
  .footerCopyright a {
    font-size: 14px;
    color: white;
    text-decoration: none; }
  .footerCopyright a:nth-child(2) {
    padding-right: 27px;
    padding-left: 27px; }
  .footerCopyright__right {
    text-align: right; }

@media screen and (max-width: 580px) {
  .logoFooter {
    justify-content: center; } }
